body {
    background-color: #1a1a1a;
}

a {
    /*color: #EC1A5C;*/
    color: #ffffff;
}

input[type="text"]:focus, select.form-control:focus, textarea:focus, textarea.form-control:focus {
  border-color: #EC1A5C;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #EC1A5C, 0 1px 1px #EC1A5C;
  box-shadow: inset 0 1px 1px #EC1A5C, 0 1px 1px #EC1A5C;
}

select option, select.form-control {
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #383838;
}

input[type=text], textarea, textarea.form-control {
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #383838;
}

.navbar-default, .navbar-default .sidebar {
    background-color: #1a1a1a;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #EC1A5C;
}

.gradient-bottom {
    margin-bottom: 0;
    box-sizing: border-box;
    background-position: 0px -2px, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-image: linear-gradient(to right, #EC1A5C 0%, #1a1a1a 50%, #EC1A5C 100%), linear-gradient(to right, #EC1A5C 0%, #1a1a1a 50%, #EC1A5C 100%);
    background-image: -o-linear-gradient(left, #EC1A5C 0%, #1a1a1a 100%), -o-linear-gradient(left, #EC1A5C 0%, #1a1a1a 100%);
    background-image: -moz-linear-gradient(left, #EC1A5C 0%, #1a1a1a 100%), -moz-linear-gradient(left, #EC1A5C 0%, #1a1a1a 100%);
    background-image: -webkit-linear-gradient(left, #1a1a1a 0%, #EC1A5C 50%, #1a1a1a 100%), -webkit-linear-gradient(left, #1a1a1a 0%, #EC1A5C 50%, #1a1a1a 100%);
    background-size: 800px 2px;
    animation: bgColour 7s ease infinite;
}

@keyframes bgColour {
  0% {
    background-position: -120% 100%
  }
  50% {
    background-position: 280% 100%
  }
  100% {
    background-position: 480% 100%
  }
}

.btn-primary {
    color: #fff;
    background-color: #EC1A5C;
    border: 1px solid #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #ffffff;
    background-color: #F15E8C;
    border: 1px solid #ffffff;
}

#page-wrapper {
    /*background-color: #21252B;*/
    background-color: #2d2d2d;
    border-color: transparent;
}

.sidebar ul li a.active {
    background-color: #2d2d2d;
    padding-left: 32px;
}

.page-header {
    color: #ffffff;
    border-bottom: none;
}

.panel-default>.panel-heading, .panel-heading {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.panel-body {
    background-color: #2d2d2d;
}

.panel-default {
    border-color: #424242;
}

.panel-body table {
    background-color: #2d2d2d;
    color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #262626;
}

.table-striped>tbody>tr:nth-of-type(odd):hover, .table-striped>tbody>tr:hover {
    background-color: #424242;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th, .table-bordered {
    border: 1px solid #383838;
}

.sidebar ul li {
    border: 1px solid #383838;
}

.sidebar .nav-second-level li, .sidebar .nav-third-level li {
    border-right: none;
    border-left: none;
}

.input-group-btn button {
    background-color: #262626;
    border: 1px solid #383838;
    color: #ffffff;
}

.input-group-btn button:hover {
    background-color: #2d2d2d;
    border: 1px solid #383838;
    color: #ffffff;
}

#side-menu li {
    border-right: none;
    border-left: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #2d2d2d;
    color: #EC1A5C;
}

.sidebar ul li a.active {
    border-left: 5px solid #EC1A5C;
}

.btn-warning.btn-outline {
    color: #F15E8C;
}

.btn-warning {
    border-color: #F15E8C;
}

.btn-warning:hover {
    background: #F15E8C;
}

.btn-danger.btn-outline {
    color: #EC1A5C;
}

.btn-danger {
    border-color: #EC1A5C;
}

.btn-danger:hover {
    background: #EC1A5C;
}

.input-group-addon {
    background-color: #ffffff;
    border-color: #ffffff;
}

.colorpicker-element {
    background-color: #ffffff;
    border-width: 2px;
}

::selection {
    background: #EC1A5C;
}

::-moz-selection {
    background: #EC1A5C;
}

.form-group label {
    color: #ffffff;
    padding-left: 6px;
}

label.toggle-on, label.toggle-off {
    color: #ffffff;
}

.inner-header h3, .inner-header h4 {
    margin: 10px 0px 30px 6px;
    color: #ffffff;
}

.column-left, .column-right, .column-bottom {
    padding: 15px;
    border: 1px solid #424242;
}

.column-bottom {
    margin-top: 30px;
}

#timingChart {
    height: 100px;
}

.progress {
    margin: 0 20px;
    background-color: #1a1a1a;
}

.progress-bar {
    text-align: center;
}

.progress-bar-success {
    background-color: #F15E8C;
}

.progress-bar-info {
    background-color: #EC1A5C;
}

.progress-bar-warning {
    background-color: #a51240;
}

.progress-bar-danger {
    background-color: #5e0a24;
}

.snapshot-title {
    color: #ffffff;
    float: left;
    margin: 5px 20px;
    min-width: 70px;
}

#timingChart text {
    fill: #ffffff;
}

.phase-progress {
    height: 50px;
}

.phase-progress .progress-bar {
    line-height: 50px;
}

.group-controls {
    padding: 0 20px;
    text-align: center;
}

.group-controls-main {
    padding: 0 40px;
    font-size: 1.2em;
    color: #ffffff;
}

.control-container {
    margin-top: 20px;
}

.control-container>.row:nth-of-type(odd) {
    background-color: #1a1a1a;
}

.control-container .form-group {
    margin-bottom: 0px;
}

.table>tbody>tr>td .input-group input {
    height: 20px;
    padding-left: 0;
    width: 100%;
}

.table>tbody>tr>td input[type=text] {
    height: 20px;
    width: 100%;
}

.phaseHeader {
    color: #ffffff;
    font-size: 1.6em;
}

.panel-heading {
    color: #ffffff;
    background-color: #EC1A5C;
}
