/*p {
    margin: 0 0 4px;
}

.client {
    padding: 10px 15px;
    background-color: #FFCCCB;
}

.client h2 {
    font-size: 16px;
    margin: 0;
}

.active {
    background-color: #90EE90;
}*/

.btn {
    padding: 9px 12px!important;
}

.large {
    font-size: 25px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.btn-inline-smaller {
    padding:1px 8px!important;
}

.btn-right {
    float: right;
    font-size: 14px!important;
    padding: 7px!important;
    margin-top: 40px;
}

.delete-form {
    display: inline;
}

/*.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.container {
    padding-top: 15px;
}

.navbar-static-top .container {
  padding-top: 0px;
}

.center-group {
    text-align: center;
}

.btn-sq {
    margin-top: 4px;
}

.client-name {
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.client-container {
    display: table;
    height: 100%;
    width: 100%;
}

.btn-client:hover {

}

.conceptListHide {
    display: none;
}*/

/*.align-mid {
  width: 100%!important;
}

.form-control {
  width: 50%!important;
  margin: 0 auto;
}

.form-hidden {
  display: none;
}

.form-buttons {
  width: 50%;
  margin: 0 auto!important;
}

.form-buttons .align-mid {
  margin: 0;
  padding: 0;
}

.form-buttons .align-mid a {
  padding: 0px;
  width: 100%;
  color: white;
}

.form-buttons button {
  width: 49%;
  background-color: #a81b19;
  border-color: #f6e8e8;
}

.form-buttons button:hover {
  background-color: #861514;
  border-color: white;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}*/
